<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<real>3.42</real>
	<key>wabisabi_ip</key>
	<string>127.0.0.1</string>
	<key>wabisabi_port</key>
	<string>8080</string>
	<key>PrefixOfUnitSN</key>
	<string>^[C|c]0\w{10,}$</string>
	<key>PrefixOfCAMID</key>
	<string>^[D|d]8:\w{2}:\w{2}:\w{2}:\w{2}:\w{2}$</string>
	<key>PrefixOfCarrierID</key>
	<string>^\w{2}:\w{2}:\w{2}:\w{2}:\w{2}:\w{2}$</string>
	<key>DelayForCarrierStateRefreshing</key>
	<real>1.5</real>
	<key>PairedPredication</key>
	<string>OK</string>
	<key>UnpairedPredication</key>
	<string>Created</string>
	<key>TemperatureSelection</key>
	<dict>
		<key>CPU_Temp_Selection</key>
		<dict>
			<key>FPGA_EURO_43</key>
			<string>0</string>
			<key>FPGA_EURO_0</key>
			<string>0</string>
			<key>FPGA_EURO_1</key>
			<string>0</string>
		</dict>
		<key>SSD_Temp_Selection</key>
		<dict>
			<key>FPGA_EURO_43</key>
			<string>0</string>
			<key>FPGA_EURO_0</key>
			<string>0</string>
			<key>FPGA_EURO_1</key>
			<string>0</string>
		</dict>
		<key>TOP_Temp_Selection</key>
		<dict>
			<key>FPGA_EURO_43</key>
			<string>0</string>
			<key>FPGA_EURO_0</key>
			<string>0</string>
			<key>FPGA_EURO_1</key>
			<string>0</string>
		</dict>
		<key>BOTTOM_Temp_Selection</key>
		<dict>
			<key>FPGA_EURO_43</key>
			<string>0</string>
			<key>FPGA_EURO_0</key>
			<string>0</string>
			<key>FPGA_EURO_1</key>
			<string>0</string>
		</dict>
	</dict>
	<key>SignalMaps</key>
	<dict>
		<key>BATTERY</key>
		<string>FPGA_EURO_27</string>
		<key>ADAPTER</key>
		<string>FPGA_EURO_26</string>
		<key>LELD_IN_PROCESS</key>
		<string>FPGA_EURO_24</string>
		<key>LED_PASS</key>
		<string>FPGA_EURO_22</string>
		<key>LED_FAIL</key>
		<string>FPGA_EURO_23</string>
		<key>IN_SENSOR</key>
		<string>FPGA_EURO_28</string>
		<key>UP_SENSOR</key>
		<string>FPGA_EURO_30</string>
		<key>DOWN_SENSOR</key>
		<string>FPGA_EURO_31</string>
		<key>OUT_SENSOR</key>
		<string>FPGA_EURO_29</string>
		<key>DRAWER_IN</key>
		<string>FPGA_EURO_18</string>
		<key>DRAWER_UP</key>
		<string>FPGA_EURO_20</string>
		<key>DRAWER_DOWN</key>
		<string>FPGA_EURO_21</string>
		<key>DRAWER_OUT</key>
		<string>FPGA_EURO_19</string>
		<key>START_BTN_PRESSED</key>
		<string>FPGA_EURO_34</string>
		<key>DRAWER_MODE_BIT0</key>
		<string>FPGA_EURO_32</string>
		<key>DRAWER_MODE_BIT1</key>
		<string>FPGA_EURO_33</string>
		<key>TEMPERATURE_BIT0</key>
		<string>FPGA_EURO_35</string>
		<key>TEMPERATURE_BIT1</key>
		<string>FPGA_EURO_36</string>
		<key>TEMPERATURE_BIT2</key>
		<string>FPGA_EURO_37</string>
		<key>TEMPERATURE_BIT3</key>
		<string>FPGA_EURO_38</string>
		<key>TEMPERATURE_BIT4</key>
		<string>FPGA_EURO_39</string>
		<key>TEMPERATURE_BIT5</key>
		<string>FPGA_EURO_40</string>
		<key>TEMPERATURE_BIT6</key>
		<string>FPGA_EURO_41</string>
		<key>TEMPERATURE_BIT7</key>
		<string>FPGA_EURO_42</string>
		<key>THERMAL_SEL_BIT2</key>
		<string>FPGA_EURO_43</string>
		<key>THERMAL_SEL_BIT1</key>
		<string>FPGA_EURO_44</string>
		<key>THERMAL_SEL_BIT0</key>
		<string>FPGA_EURO_45</string>
		<key>SSD_RESET_LB_L</key>
		<string>FPGA_EURO_8</string>
		<key>STORAGE_LB_EN</key>
		<string>FPGA_EURO_9</string>
		<key>LPSR_EN_LB_L</key>
		<string>FPGA_EURO_10</string>
		<key>SSD_BOOT_LB_L</key>
		<string>FPGA_EURO_11</string>
		<key>SSD_PWR_EN_LB_L</key>
		<string>FPGA_EURO_12</string>
		<key>PM_PCH_SYS_PWROK</key>
		<string>FPGA_EURO_13</string>
		<key>NC_SMC_DEV_SUPPLY_L</key>
		<string>FPGA_EURO_14</string>
		<key>SMC_RESET_L</key>
		<string>FPGA_EURO_15</string>
		<key>SMC_ONOFF_L</key>
		<string>FPGA_EURO_16</string>
		<key>PPVCC_S0_CPU</key>
		<string>AIN4</string>
		<key>PP0V9_SSD_REG</key>
		<string>AIN5</string>
	</dict>
	<key>DrawerModeDefinition</key>
	<array>
		<string>Auto Mode</string>
		<string>Semi Auto</string>
		<string>Debug Mode</string>
		<string>N/A</string>
	</array>
	<key>Slots</key>
	<array>
		<dict>
			<key>IP_Address</key>
			<string>10.0.100.100</string>
			<key>MAC</key>
			<string>d8:00:00:00:00:01</string>
			<key>MAC_Slot</key>
			<string>08:00:00:00:00:01</string>
			<key>SlotID</key>
			<string>Slot1</string>
			<key>Enable</key>
			<true/>
		</dict>
		<dict>
			<key>IP_Address</key>
			<string>10.0.100.101</string>
			<key>SlotID</key>
			<string>Slot2</string>
			<key>MAC</key>
			<string>d8:00:00:00:00:02</string>
			<key>MAC_Slot</key>
			<string>08:00:00:00:00:02</string>
			<key>Enable</key>
			<true/>
		</dict>
		<dict>
			<key>IP_Address</key>
			<string>10.0.100.102</string>
			<key>MAC</key>
			<string>d8:00:00:00:00:03</string>
			<key>MAC_Slot</key>
			<string>08:00:00:00:00:03</string>
			<key>SlotID</key>
			<string>Slot3</string>
			<key>Enable</key>
			<true/>
		</dict>
		<dict>
			<key>IP_Address</key>
			<string>10.0.100.103</string>
			<key>SlotID</key>
			<string>Slot4</string>
			<key>MAC</key>
			<string>d8:00:00:00:00:04</string>
			<key>MAC_Slot</key>
			<string>08:00:00:00:00:04</string>
			<key>Enable</key>
			<true/>
		</dict>
		<dict>
			<key>IP_Address</key>
			<string>10.0.100.104</string>
			<key>SlotID</key>
			<string>Slot5</string>
			<key>MAC</key>
			<string>d8:00:00:00:00:05</string>
			<key>MAC_Slot</key>
			<string>08:00:00:00:00:05</string>
			<key>Enable</key>
			<true/>
		</dict>
		<dict>
			<key>IP_Address</key>
			<string>10.0.100.105</string>
			<key>SlotID</key>
			<string>Slot6</string>
			<key>MAC</key>
			<string>d8:00:00:00:00:06</string>
			<key>MAC_Slot</key>
			<string>08:00:00:00:00:06</string>
			<key>Enable</key>
			<true/>
		</dict>
		<dict>
			<key>IP_Address</key>
			<string>10.0.100.106</string>
			<key>MAC</key>
			<string>d8:00:00:00:00:07</string>
			<key>SlotID</key>
			<string>Slot7</string>
			<key>MAC_Slot</key>
			<string>08:00:00:00:00:07</string>
			<key>Enable</key>
			<true/>
		</dict>
		<dict>
			<key>IP_Address</key>
			<string>10.0.100.107</string>
			<key>SlotID</key>
			<string>Slot8</string>
			<key>MAC</key>
			<string>d8:00:00:00:00:08</string>
			<key>MAC_Slot</key>
			<string>08:00:00:00:00:08</string>
			<key>Enable</key>
			<true/>
		</dict>
		<dict>
			<key>IP_Address</key>
			<string>10.0.100.108</string>
			<key>SlotID</key>
			<string>Slot9</string>
			<key>MAC</key>
			<string>d8:00:00:00:00:09</string>
			<key>MAC_Slot</key>
			<string>08:00:00:00:00:09</string>
			<key>Enable</key>
			<true/>
		</dict>
		<dict>
			<key>IP_Address</key>
			<string>10.0.100.109</string>
			<key>MAC</key>
			<string>d8:00:00:00:00:10</string>
			<key>MAC_Slot</key>
			<string>08:00:00:00:00:10</string>
			<key>SlotID</key>
			<string>Slot10</string>
			<key>Enable</key>
			<true/>
		</dict>
		<dict>
			<key>IP_Address</key>
			<string>10.0.100.111</string>
			<key>MAC</key>
			<string>d8:00:00:00:00:11</string>
			<key>MAC_Slot</key>
			<string>08:00:00:00:00:11</string>
			<key>SlotID</key>
			<string>Slot11</string>
			<key>Enable</key>
			<true/>
		</dict>
		<dict>
			<key>IP_Address</key>
			<string>10.0.100.112</string>
			<key>MAC</key>
			<string>d8:00:00:00:00:12</string>
			<key>MAC_Slot</key>
			<string>08:00:00:00:00:12</string>
			<key>SlotID</key>
			<string>Slot12</string>
			<key>Enable</key>
			<true/>
		</dict>
	</array>
	<key>CommandSets</key>
	<dict>
		<key>CAM_Init</key>
		<array>
			<dict>
				<key>Command</key>
				<string>FPGA_EURO_26</string>
				<key>SignalName</key>
				<string>Adapter</string>
				<key>Arguments</key>
				<array>
					<string>0</string>
				</array>
			</dict>
			<dict>
				<key>Command</key>
				<string>FPGA_EURO_27</string>
				<key>SignalName</key>
				<string>Battery</string>
				<key>Arguments</key>
				<array>
					<string>0</string>
				</array>
			</dict>
			<dict>
				<key>Command</key>
				<string>Sleep</string>
				<key>Arguments</key>
				<array>
					<real>0.5</real>
				</array>
			</dict>
			<dict>
				<key>Command</key>
				<string>FPGA_EURO_22</string>
				<key>SignalName</key>
				<string>Pass LED</string>
				<key>Arguments</key>
				<array>
					<string>0</string>
				</array>
			</dict>
			<dict>
				<key>Command</key>
				<string>FPGA_EURO_23</string>
				<key>SignalName</key>
				<string>Fail LED</string>
				<key>Arguments</key>
				<array>
					<string>0</string>
				</array>
			</dict>
			<dict>
				<key>Command</key>
				<string>FPGA_EURO_24</string>
				<key>SignalName</key>
				<string>Inprocess LED</string>
				<key>Arguments</key>
				<array>
					<string>0</string>
				</array>
			</dict>
			<dict>
				<key>Command</key>
				<string>FPGA_EURO_25</string>
				<key>SignalName</key>
				<string>Power LED</string>
				<key>Arguments</key>
				<array>
					<string>0</string>
				</array>
			</dict>
			<dict>
				<key>Command</key>
				<string>FPGA_EURO_9</string>
				<key>SignalName</key>
				<string>SSD_PWR_EN</string>
				<key>Arguments</key>
				<array>
					<string>2</string>
				</array>
			</dict>
			<dict>
				<key>Command</key>
				<string>FPGA_EURO_3</string>
				<key>SignalName</key>
				<string>SSD_PGOOD_L</string>
				<key>Arguments</key>
				<array>
					<string>2</string>
				</array>
			</dict>
			<dict>
				<key>Command</key>
				<string>FPGA_EURO_8</string>
				<key>SignalName</key>
				<string>SSD_RESET_L</string>
				<key>Arguments</key>
				<array>
					<string>1</string>
				</array>
			</dict>
			<dict>
				<key>Command</key>
				<string>FPGA_EURO_11</string>
				<key>SignalName</key>
				<string>SSD_BOOT_L</string>
				<key>Arguments</key>
				<array>
					<string>1</string>
				</array>
			</dict>
			<dict>
				<key>Command</key>
				<string>FPGA_EURO_13</string>
				<key>SignalName</key>
				<string>PM_PCH_SYS_PWR_OK</string>
				<key>Arguments</key>
				<array>
					<string>1</string>
				</array>
			</dict>
			<dict>
				<key>Command</key>
				<string>FPGA_EURO_14</string>
				<key>SignalName</key>
				<string>TP_SMC_DEV_SUPPLY_L</string>
				<key>Arguments</key>
				<array>
					<string>1</string>
				</array>
			</dict>
			<dict>
				<key>Command</key>
				<string>FPGA_EURO_15</string>
				<key>SignalName</key>
				<string>BUF_SMC_RESET_L</string>
				<key>Arguments</key>
				<array>
					<string>1</string>
				</array>
			</dict>
			<dict>
				<key>Command</key>
				<string>FPGA_EURO_16</string>
				<key>SignalName</key>
				<string>SMC_ONOFF_L</string>
				<key>Arguments</key>
				<array>
					<string>1</string>
				</array>
			</dict>
		</array>
		<key>UUT_PowerOn</key>
		<array>
			<dict>
				<key>Command</key>
				<string>FPGA_EURO_15</string>
				<key>SignalName</key>
				<string>BUF_SMC_RESET_L</string>
				<key>Arguments</key>
				<array>
					<string>0</string>
				</array>
			</dict>
			<dict>
				<key>Command</key>
				<string>FPGA_EURO_14</string>
				<key>SignalName</key>
				<string>TP_SMC_DEV_SUPPLY_L</string>
				<key>Arguments</key>
				<array>
					<string>0</string>
				</array>
			</dict>
			<dict>
				<key>Command</key>
				<string>FPGA_EURO_27</string>
				<key>SignalName</key>
				<string>Battery</string>
				<key>Arguments</key>
				<array>
					<string>1</string>
				</array>
			</dict>
			<dict>
				<key>Command</key>
				<string>FPGA_EURO_26</string>
				<key>SignalName</key>
				<string>Adapter</string>
				<key>Arguments</key>
				<array>
					<string>1</string>
				</array>
			</dict>
			<dict>
				<key>Command</key>
				<string>Sleep</string>
				<key>Arguments</key>
				<array>
					<integer>1</integer>
				</array>
			</dict>
			<dict>
				<key>Command</key>
				<string>FPGA_EURO_16</string>
				<key>SignalName</key>
				<string>SMC_ONOFF_L</string>
				<key>Arguments</key>
				<array>
					<string>0</string>
				</array>
			</dict>
			<dict>
				<key>Command</key>
				<string>Sleep</string>
				<key>Arguments</key>
				<array>
					<integer>1</integer>
				</array>
			</dict>
			<dict>
				<key>Command</key>
				<string>FPGA_EURO_16</string>
				<key>SignalName</key>
				<string>SMC_ONOFF_L</string>
				<key>Arguments</key>
				<array>
					<string>1</string>
				</array>
			</dict>
			<dict>
				<key>Command</key>
				<string>FPGA_EURO_15</string>
				<key>SignalName</key>
				<string>BUF_SMC_RESET_L</string>
				<key>Arguments</key>
				<array>
					<string>1</string>
				</array>
			</dict>
			<dict>
				<key>Command</key>
				<string>FPGA_EURO_24</string>
				<key>SignalName</key>
				<string>Inprocess LED</string>
				<key>Arguments</key>
				<array>
					<string>1</string>
				</array>
			</dict>
		</array>
		<key>UUT_PowerDown</key>
		<array>
			<dict>
				<key>Command</key>
				<string>FPGA_EURO_26</string>
				<key>SignalName</key>
				<string>Adapter</string>
				<key>Arguments</key>
				<array>
					<string>0</string>
				</array>
			</dict>
			<dict>
				<key>Command</key>
				<string>FPGA_EURO_27</string>
				<key>SignalName</key>
				<string>Battery</string>
				<key>Arguments</key>
				<array>
					<string>0</string>
				</array>
			</dict>
			<dict>
				<key>Command</key>
				<string>FPGA_EURO_24</string>
				<key>SignalName</key>
				<string>Inprocess LED</string>
				<key>Arguments</key>
				<array>
					<string>0</string>
				</array>
			</dict>
			<dict>
				<key>Command</key>
				<string>FPGA_EURO_22</string>
				<key>SignalName</key>
				<string>Pass LED</string>
				<key>Arguments</key>
				<array>
					<string>1</string>
				</array>
			</dict>
			<dict>
				<key>Command</key>
				<string>FPGA_EURO_23</string>
				<key>SignalName</key>
				<string>Fail LED</string>
				<key>Arguments</key>
				<array>
					<string>1</string>
				</array>
			</dict>
			<dict>
				<key>Command</key>
				<string>FPGA_EURO_14</string>
				<key>SignalName</key>
				<string>TP_SMC_DEV_SUPPLY_L</string>
				<key>Arguments</key>
				<array>
					<string>1</string>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
