<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Port_Name</key>
		<string>FPGA_EURO_26</string>
		<key>Port_Type</key>
		<string>1</string>
		<key>Signal_Name</key>
		<string>ADAPTER</string>
		<key>Wait_Before_Run</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Port_Name</key>
		<string>FPGA_EURO_27</string>
		<key>Port_Type</key>
		<string>0</string>
		<key>Signal_Name</key>
		<string>BATTERY</string>
		<key>Wait_Before_Run</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Port_Name</key>
		<string>FPGA_EURO_31</string>
		<key>Port_Type</key>
		<string>2</string>
		<key>Signal_Name</key>
		<string>DOWN_SENSOR</string>
		<key>Wait_Before_Run</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Port_Name</key>
		<string>FPGA_EURO_30</string>
		<key>Port_Type</key>
		<string>2</string>
		<key>Signal_Name</key>
		<string>UP_SENSOR</string>
		<key>Wait_Before_Run</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Port_Name</key>
		<string>FPGA_EURO_28</string>
		<key>Port_Type</key>
		<string>2</string>
		<key>Signal_Name</key>
		<string>IN_SENSOR</string>
		<key>Wait_Before_Run</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Port_Name</key>
		<string>FPGA_EURO_29</string>
		<key>Port_Type</key>
		<string>2</string>
		<key>Signal_Name</key>
		<string>OUT_SENSOR</string>
		<key>Wait_Before_Run</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Port_Name</key>
		<string>FPGA_EURO_23</string>
		<key>Port_Type</key>
		<string>1</string>
		<key>Signal_Name</key>
		<string>LED_FAIL</string>
		<key>Wait_Before_Run</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Port_Name</key>
		<string>FPGA_EURO_22</string>
		<key>Port_Type</key>
		<string>1</string>
		<key>Signal_Name</key>
		<string>LED_PASS</string>
		<key>Wait_Before_Run</key>
		<string>0.5</string>
	</dict>
	<dict>
		<key>Port_Name</key>
		<string>FPGA_EURO_24</string>
		<key>Port_Type</key>
		<string>1</string>
		<key>Signal_Name</key>
		<string>LELD_IN_PROCESS</string>
		<key>Wait_Before_Run</key>
		<string>0.5</string>
	</dict>
</array>
</plist>
