<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ItemName</key>
		<string>FUNCTIONS</string>
		<key>Children</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Tester</string>
				<key>NibName</key>
				<string>SFTestSeqViewController</string>
				<key>IconName</key>
				<string>icon_tester</string>
				<key>Owner</key>
				<string>SFTestSeqViewController</string>
				<key>MinorUserLevel</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Flash</string>
				<key>NibName</key>
				<string>SFFlashViewController</string>
				<key>IconName</key>
				<string>flash_ic</string>
				<key>Owner</key>
				<string>SFFlashViewController</string>
				<key>MinorUserLevel</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Probe</string>
				<key>NibName</key>
				<string>SFCAMViewController</string>
				<key>IconName</key>
				<string>icon_cell</string>
				<key>Owner</key>
				<string>SFCAMViewController</string>
				<key>MinorUserLevel</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Boot</string>
				<key>NibName</key>
				<string>SFLocalBootViewController</string>
				<key>IconName</key>
				<string>icon_device</string>
				<key>Owner</key>
				<string>SFLocalBootViewController</string>
				<key>MinorUserLevel</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>mojo</string>
				<key>NibName</key>
				<string>SFMojoViewController</string>
				<key>IconName</key>
				<string>mojo</string>
				<key>Owner</key>
				<string>SFMojoViewController</string>
				<key>MinorUserLevel</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>SETTINGS</string>
		<key>Children</key>
		<array>
			<dict>
				<key>Name</key>
				<string>SlotSetup</string>
				<key>NibName</key>
				<string>SFFixtueSettingViewController</string>
				<key>IconName</key>
				<string>icon_settings</string>
				<key>Owner</key>
				<string>SFFixtueSettingViewController</string>
				<key>MinorUserLevel</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Pair/Unpair</string>
				<key>NibName</key>
				<string>SFPairViewController</string>
				<key>IconName</key>
				<string>icon_pair</string>
				<key>Owner</key>
				<string>SFPairViewController</string>
				<key>MinorUserLevel</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>RECORDS</string>
		<key>Children</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Log</string>
				<key>NibName</key>
				<string>SFLogViewController</string>
				<key>IconName</key>
				<string>icon_log</string>
				<key>Owner</key>
				<string>SFLogViewController</string>
				<key>MinorUserLevel</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Report</string>
				<key>NibName</key>
				<string>SFReportViewController</string>
				<key>IconName</key>
				<string>icon_yield</string>
				<key>Owner</key>
				<string>SFReportViewController</string>
				<key>MinorUserLevel</key>
				<integer>4</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
